<%= render :partial=>'common/header' %>

<div class="home_middle">
  <div class="home_middle_photo">
    <div class="home_middle_photo1"><img src="/images/home_dog.jpg" /></div>
  </div>
  <div class="home_middle_subheading">
    <h1>What is Tweet.io?</h1>
    <h2>Tweet.io helps you share media (documents, pictures, videos, and music) quickly and easily on <span class="home_subtext_twitter"><a href="http://twitter.com" target="_blank">Twitter</a></span>.</h2>    
    <h1>How do I use Tweet.io?</h1>    
    <h2>Post media to Twitter using the Tweet.io web site or your <span class="home_subtext_twitter"><%= link_to 'mobile device.',media_file_upload_path%></span></h2>
    <h2>Simply click on log-in on Tweet.io to begin using the service. If you do not have a Twitter account yet, sign-up for one at <span class="home_subtext_twitter"><a href="http://twitter.com" target="_blank">Twitter.com</a></span>.</h2>    
    <div class="twitter_div">
      <% if !logged_in? %>
        <%=link_to image_tag("/images/sign-in-with-twitter.png",:border=>"0"), '/login' %>
      <% end %>
    </div>

  </div>
  <div class="home_middle_recentsub_heading">
    <div class="home_middle_recent_image"><img src="/images/recentmedia.png" /></div>
    <div class="home_middle_recent_subimage">
      <div class="home_middle_recent_subimage_left"></div>
      <div class="home_middle_recent_subimage_middle">
         <% if !@medias.empty? %>
             <% i = 0  %>
            <% @medias.each do |media|%>
              <% if !@thumbnail[i].nil? %>
                <div class="recent_scroll_div">
                <%= link_to image_tag(@thumbnail[i],:border=>'0'),:controller=>'medias',:action=>'show',:id=>media.encrypt_id -%>
                </div>
              <% end %>
              <% i = i+1  %>
            <%end%>
         <%end%>
      </div>
      <div class="home_middle_recent_subimage_right"></div>
    </div>
  </div>
</div>
<%= render :partial=>'common/footer' %>